main {
    display:grid;
    grid-gap: 10px;   
    grid-template-areas:"h h h"
                        "n n n"
                        "b a j"
                        "f f f" 
  
}
header {
    grid-area:h;
}
nav {
    grid-area:n;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
article {
    grid-area:a;
}
section {
    grid-area:s;
}
.bal {
    grid-area:b;
}
.jobb {
    grid-area:j;
}
footer {
    grid-area:f;
}
